 <section class="py-5 main">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 mx-auto p-5">
            <div class="page-bg">
            <div class="text-center mb-4 text-black">
              <a href="javascript:void(0);" (click)="linkRouter('/home')"> <img src="assets/img/logo.png" class="img-fluid" style="width:150px;"></a>
           </div>
            <h2 class="text-center text-black">Forgot Username</h2> 
               
            <div class="row ">
               <div class="mb-3 col-md-12 ">
                  <label for="username" class="form-label fs-5">Email</label>
                  <input type="name" class="form-control input-bg input-text" id="username" placeholder="Enter Your Email">
                 
               </div>
               
              
               <div class="mb-3 col-md-12 text-center">
                  <a href="javascript:void(0)" (click)="linkRouter('/login')" class="text-black "> back to Login</a>

               </div>
               <div class=" col-md-12 text-center  ">
                  <a  href="javascript:void(0)" class="btn bg-orange text-white login rounded-3 fs-5" (click)="OnForgotPassword()" style="font-size: 14px !important;">Submit</a>
               </div>
            </div>
           </div>    
         </div>
      </div>
   </div>
</section>