<div class="academic-program">
    <div class="roules-of-dicipline-banner"></div>
        <div class="banner-bottom-dv">
            <h1>RULES OF DISCIPLINE</h1>
        </div>
        <div class="container">
            
             <div class="acadmin-body">
               <div class="row"> 
                   <div class="col-sm-12">
                        <h3>CODE OF CONDUCT/RULES & REGULATIONS</h3>
                        <p>The ‘Code of Conduct’ is a set of conventional principles and expectations that are binding to the entire school cohort. They are a set of guidelines/instructions that help the school to run smoothly and make it a safe place students learning in a nurturing environment.</p>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>ATTENDANCE & REGULARITY</h3>
                                <ul >
                                    <li>A student is required to compute minimum 75% of attendance, of the working days every month; failing which a fine of Rs.100/- will be levied each month. A student less than the prescribed attendance will not stand a chance of promotion to the next higher class.</li>
                                    <li>The principal reserves authority to reject the leave applied for; if a student, absent from school for three consecutive days fails to submit a fair reason of absence.</li>
                                    <li>If a student is absent from school on medical grounds, a medical certificate from a registered medical practitioner must be submitted to the school.</li>
                                    <li>Half day leaves are not allowed.</li>
                                    <li>A student suffering from any infectious disease must complete the quarantine period before joining the school. This should be indicated on the medical certificate.</li>
                                    <li>A student suffering from any disease or infirmity; which in opinion of the principal, may be infectious or the student is rendered incapable of participating in total school life, would immediately be removed from the school</li>
                                    <li>Students are expected to be present in school five minutes before the warning bell for assembly. Students coming late to school will not be allowed to attend school.</li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <img src="assets/images/rules-of-desipline/RULES-OF -ISCIPLINE-02.jpg" style="margin: 15% 5%;width: 100%;" >
                            </div>
                        </div>     
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                             <div class="col-sm-4">
                                 <img src="assets/images/rules-of-desipline/RULES-OF-DISCIPLINE-28.jpg" style="margin: 15% 5%;width: 100%;" >
                            </div>
                            <div class="col-sm-8">
                                <h3>EXANINATIONS</h3>
                                <ul>
                                    <li>Every student is expected to be present for all Class Tests and Terminal Examination (s) to achieve good academic credits.</li>
                                    <li>The defaulting student would be liable of answering a disciplinary call in the event of wilful absence and will be liable to pay a fine of Rs. 100/- for each paper found absent.</li>
                                    <li>The school does not provide for any retest, for any of the tests missed due to absence for any reasons.</li>
                                    <li>Report on conduct & performance of student will be issued after every test, only to parents in the Parents-Teachers meetings.</li>
                                    
                                </ul>
                            </div>
                           
                        </div>     
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>GENERAL</h3>
                                <ul>
                                <li>All students are expected to converse in English within the school premises.</li>
                                <li>Students are expected to attend the school in full prescribed uniform to avoid penalty. Cleanliness in person and clothes is expected of every student.</li>
                                <li>All school instructions sent through notices must be promptly attended to, failing which the school may use its own discretion to decide any issue related to the school.</li>
                                
                                <li>Parents-Teachers Meetings must be attended regularly in the interest of the ward(s).</li>
                                <li>No person other than the parent or the legal guardian will be entertained in the meeting with Principal/Vice-principal/Coordinator/Teacher.</li>
                                <li>Parents & guardian are restricted from meeting any teacher without the permission from the principal. Any offence against this rule may lead to the dismissal of their ward(s).</li>
                                <li>Students are expected to maintain a high standard of courtesy in their speech and interaction with teachers or any other staff member whether office or fourth class. Obscenity of words or action will not be tolerated.</li>
                                <li>Students found loitering around the school before and after the school hours will be penalized accordingly.</li>
                                <li>Students are expected to maintain minimum of 60% of marks throughout the year in all fields of assessments whether scholastic or non-scholastic.</li>
                                <li>Parents are liable to pay the school fee immediately at the receipt of the Fee Bills; failing which the school is free to use its discretion, to whether allow the student to attend the school or to debar him/her.</li>
                                <li>Application for withdrawal of a student from school or bus must be submitted a month in advance failing which one month complete fee will be charged. </li>
                                <li>Scouts & Guides Facility is compulsory in classes I to VIII and NCC is compulsory in classes IX to XII. Any exemption if desired must be submitted with an authentic medical report.</li>
                                <li>School / Hostel will not be responsible for loss of any valuable article(s) provided to the students</li>
                                <li>School Diary must be brought to school every day. It must be used to communicate with the school on regular basis. Parents are expected to check their ward’s diary on daily basis.</li>
                                <li>Students must wear their Identity Cards while on campus and while travelling to & fro school.</li>
                                <li>•   Any damage to the school property will have to be restored to its original condition by the parent or the cost of restoration of the same will be payable by the parent.</li>
                                <li>Parents of a student who seek admission to any class are liable to sign an Indemnity Bond with the school, assuring the school that his ward(s) will in every manner respect, honour and obey the school rules and regulations; failing which the parent/guardian would agree to adhere to the penalty(s) mentioned therein.</li>
                                <li>•   The Principal is authorized to remove any student from school at any time in the interest of the school, if a student fails to accept the discipline of the school or has extorted money from any other student or any employee of the school or has inflicted punishment corporal/unauthorized to anyone in or outside the school  premises or bullies other inmates or is found involved in sexual harassment with other students or his/her continued presence is detrimental to the interest of other students.</li>
                                <li>The school will not be liable for any damages/ charges on account of  injuries; fatal or otherwise, which may be sustained by a student, at any time during his/ her stay in the school, while taking part in studies, sports or any other extra-curricular activities of school, within or outside school premises. All expenses that may incur in the treatment of such injuries will be borne by the parent/ guardian as per the school rules. </li>

                            </ul>
                            </div>
                            <div class="col-sm-4">
                                <img src="assets/images/rules-of-desipline/RULES-OF-DISCIPLINE-04.jpg" style="margin: 15% 5%;width: 100%;" >
                                <img src="assets/images/rules-of-desipline/RULES-OF-DISCIPLINE-43.jpg" style="margin: 15% 5%;width: 100%;" >
                                 <img src="assets/images/rules-of-desipline/RULES-OF-DISCIPLINE-10.jpg" style="margin: 15% 5%;width: 100%;" >
                            </div>
                        </div>     
                    </div>
                    
                      <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>SERIOUS OFFENCES THAT WOULD LEAD TO EXPULSION/ SUSPENSION</h3>
                                    <ul>
                                        <li>Carrying any arms, weapons or sharp tools to school.</li>
                                        <li>Possession of any drugs, cigarettes, gutkas, paan masalas, alcohol in the school premises.</li>
                                        <li>Ragging or bullying any student</li>
                                        <li>Extracting money or any other article from any student.</li>
                                        
                                        <li>Causing Sexual harassment to any student /teacher/staff member</li>
                                        <li>Inflicting mental torture on any student/ teacher/staff member</li>
                                        <li>Wilful misbehaviour towards teacher/staff member</li>
                                        <li>Vandalism</li>
                                        <li>Theft</li>
                                        <li>Plagiarism/Using Unfair Means in Examination.</li>
                                        <li>Carrying Mobile Phones / iPods to School</li>
                                        
                                    </ul>
                            </div>
                            <div class="col-sm-4">
                                 <img src="assets/images/rules-of-desipline/RULES-OF-DISCIPLINE-46.jpg" style="margin: 15% 5%;width: 100%;" >
                            </div>
                        </div>     
                    </div>

                
                
				
                <b>All rules of discipline are subject to change without intimation, in the interest of the school and its inmates.</b>
                
            </div>    

               

               

                
                
                
                
       </div> 
        
    </div>
</div>


