
<!--Banner Start-->
<section class="banner banner-about-us">
  
</section>
<div class="banner-bottom-dv">
  <h1>ABOUT US </h1>
  <p>Education for life through soul, mind and body</p>
</div>
<!--Banner End-->

<section class="content">
  <div class="school-moto">
    <div class="container">
        <!-- <h2>About us</h2> -->
        <h3>“A right education is the passport to future, for tomorrow belongs to those who prepare for it today ”.</h3>
        <p style="text-align: justify;">The need of the hour is to impart education to develop certain core competencies such as creativity & imagination, collaboration, digital literacy, leadership & personal development, critical thinking, problem-solving and citizenship to help students thrive in today's world. The goal of education should be to provide holistic learning environment for students which incorporates authentic learning, assessing and personal development</p>
        <p style="text-align: justify;">Capacities of questioning & challenging, making connections and seeing relationships, envisaging what might be, exploring ideas & keeping options open and critically reflecting on ideas, actions & outcome will allow learners to solve the types of the complex problems they will face in real life. </p>
        <p style="text-align: justify;">A logical mind, a scientific temperament, a hidden artist and a spirit of curiosity need be inculcated in students of today’s world, where a teacher as a facilitator helps them to explore their limits</p>
        <p style="text-align: justify;">Today schools need to practice 4 essential rules of 21st century learning viz student-centered instruction, collaborative education, contextual learning & integration with society.</p>
        <p style="text-align: justify;">Welcome to Children’s Academy in our caring and engaged community. Let your ward enjoy the spirit of innovation, collaboration and social consciousness that invigorates our research and that enlivens our campus.</p>
        <p style="text-align: justify;">Let them bring their openness to learning and growth…. And find for themselves inspiring and transforming lives around.</p>
    </div>
    
  </div>
  <div class="fold">
     <div class="school-moto">
    <div class="container">
        <h2>OUR MOTTO</h2>
        <h3>“Education for Life through Soul, Mind and Body ”.</h3>
        <p style="text-align: justify;">A sound mind in a sound body is our motto. We dedicate ourselves to the noble cause of education in drawing out the best in man and endowing him with courage, confidence, hope and the spirit of righteousness</p>
       
    </div>
    
  </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
              <div id="carouselExampleIndicatorsOne" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicatorsOne" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicatorsOne" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicatorsOne" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">

                    <div   class="carousel-item active " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/01-Bani Parck Building.jpg">
                    </div>

                    <!-- <div   class="carousel-item  "  >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/02-Nirman Nagar-Building.jpg">
                    </div> -->


                    <div   class="carousel-item " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/Facilities-1.jpg">
                    </div>
                     
                     <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/Facilities-2.JPG">
                    </div>

                     <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/Facilities-3.JPG">
                    </div>

                     <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/Facilities-4.jpg">
                    </div>

                     <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/Facilities-5.jpg">
                    </div>

                     <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/Facilities-6.jpg">
                    </div>

                    <!--  <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/our-vision-&-mission/Facilities-7.jpg">
                    </div> -->

                  
                   
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicatorsOne" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next carousel-control-next-lifeskill " href="#carouselExampleIndicatorsOne" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
        </div>
        <div class="col-md-6">
          <h2 class="fold_heading">OUR VISION & MISSION </h2>
         
          <ul class="mission mission-text-size">
            <li>To promote values such as love for cultural heritage, egalitarianism, democracy and secularism, protection of the environment, removal of social barriers, and inculcation of scientific temper.</li>

            <li>To foster among students an understanding of the diverse cultural and social characteristics of the people living in different parts of the country.</li>

            <li>To develop a quality mindset of the learners through innovative and positive system of continuous improvement.</li>

            <li> To develop in her inmates a personality that bears a mark of excellence resultant of a perfect integration and co-ordination of the body, mind & soul.</li>

            <li> To educate and send to the world - “Men who will not be bought or sold, who in their utmost souls are true & honest, who would not fear to call sin by its name. Men who will stand for the right though the heavens fall”.</li>

            <li> To develop desirable social attitudes & manner, to encourage healthy group participation and to make the inmates sensitive to the rights and privileges of others.</li>

            <li> To develop emotional maturity by guiding them to express, understand, accept and control their feelings and emotions.</li>

            <li> To encourage aesthetic appreciation</li>

            <li> To stimulate intellectual curiosity and help them understand</li>

            <li> To encourage independence and creativity by providing the child with sufficient opportunities for self-expression</li>

            <li> To develop the students’ ability to express his thoughts and feelings in fluent, correct and clear speech</li>

           
          </ul>
        </div>
      </div>
    </div>
  </div>

 

  <div class="school-moto">
    <!-- <div class="container">
        <h5>OUR MOTTO</h5>
        <h3>‘Education for Life through Soul, Mind and Body’</h3>
        <p>A sound mind in a sound body is our motto. We dedicate ourselves to the noble cause of education in drawing out the best in man and endowing him with courage, confidence, hope and the spirit of righteousness.</p>
    </div> -->
    
  </div>

  <div class="fold">
      <div class="container">
        <div class="row">
         <div class="col-md-6">
              <div id="carouselExampleIndicatorsTwo" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicatorsTwo" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicatorsTwo" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicatorsTwo" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">

                  

                    <div   class="carousel-item active " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/facts-at-a-glance/Fact-1.jpg">
                    </div>
                     
                     <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/facts-at-a-glance/Fact-2.jpg">
                    </div>

                    <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/facts-at-a-glance/Fact-3.jpg">
                    </div>
                    <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/facts-at-a-glance/Fact-4.jpg">
                    </div>
                    <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/facts-at-a-glance/Fact-5.jpg">
                    </div>
                    <div   class="carousel-item  " >
                      <img class="d-block staff-skill-about" src="assets/images/about-us/facts-at-a-glance/Fact-6.jpg">
                    </div>
                   
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicatorsTwo" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next carousel-control-next-lifeskill " href="#carouselExampleIndicatorsTwo" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
        </div>
          <div class="col-md-6">
            <h2 class="fold_heading">FACTS AT A GLANCE </h2>
            <ul class="mission mission-text-size">
              <li><span class="list-heading">Year of Establishment  :</span> 1961</li>

                <li><span class="list-heading">Recognition :</span> Education Department , Government of Rajasthan</li>
                <li> <span class="list-heading">Affiliation :</span> To the CISCE for ICSE-Year 10 (Indian Certificate for Secondary Examination) since 1983 <br> To the CISCE for ISC-Year 12 (Indian School Certificate Examination) since 1985</li>

                <li> <span class="list-heading">Accreditation :</span> ICSE & ISC equivalent to ‘O’ Level & ‘A’ Level Examinations (IGCSE & GCE)</li>
                <li><span class="list-heading">Membership:</span> 
                  <p style="margin-bottom: 2px; font-size: 12px;">• Federation of Independent Schools of India</p>
                  <p style="margin-bottom: 2px; font-size: 12px;">• Association of Schools for the Indian School Certificate (National)</p>
                  <p style="margin-bottom: 2px; font-size: 12px;">• Association of Schools for the Indian School Certificate–North West Region</p>
                  <p style="margin-bottom: 2px; font-size: 12px;">• Association of Schools for the Indian School Certificate of Rajasthan Chapter of the North- West Region</p>
                  <p style="margin-bottom: 2px; font-size: 12px;">• Progressive Schools of Rajasthan</p>
                  <p style="margin-bottom: 2px; font-size: 12px;">• Interact Club-Rotary Club, Jaipur</p>
                  <p style="margin-bottom: 2px; font-size: 12px;">• International Convention of Quality Circles</p>
                  <p style="margin-bottom: 2px; font-size: 12px;">• News Paper in Education</p>

                </li>
               
              </ul>
          </div>
        </div>
      </div>
    </div>


</section>