<div class="academic-program">
    <div class="academic-program-banner"></div>
        <div class="banner-bottom-dv">
            <h1>ACADEMIC PROGRAMME</h1>
        </div>
        <div class="container">
            
             <div class="acadmin-body">
                <div class="label-detail">
                    <h3>SCHOOL’S ANNUAL CALENDAR</h3>
                    <div><label>School Year:</label> Middle of April to March</div>
                    <div><label>Registration for Admission:</label> January & May</div>
                    <div><label>Entrance Examination:</label>February & June</div>
                </div>
               

               <h4>ADMISSIONS</h4>
               <p><b>No Entrance Examination for Admission to Classes Nursery to V <br>
                Admission is possible through Entrance Examination for classes higher than V</b></p>

                <p><b>Note:</b> Registration for admission is made from January 1 and entrance test takes 
           place in the second week of February.
                </p>


                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">CLASS</th>
                            <th scope="col">S U B J E C T S</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">VI-VIII</th>
                            <td>Gen. English, Mathematics & Science</td>
                          </tr>
                          <tr>
                            <th scope="row"> IX  (Sc)</th>
                            <td>Gen. English, Mathematics & Science</td>
                          </tr>
                          <tr>
                            <th scope="row"> IX (Com)</th>
                            <td>Gen. English & Mathematics</td>
                          </tr>
                          <tr>
                            <th scope="row"> XI (Sc)</th>
                            <td>Gen. English, Mathematics & Science</td>
                          </tr>
                          <tr>
                            <th scope="row"> XI (Com)</th>
                            <td>Gen. English & Mathematics </td>
                          </tr>
                          <tr>
                            <th scope="row">  XI (Arts)</th>
                            <td>Gen. English  </td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
                

                <!-- <h2>Living at Children’s Academy</h2>
                <p>The Hostel Accommodation is available for both; Boys and Girls</p>

                <h2>Transport Facility</h2>
                <p>School Transport is available on request. Transport Fee is charged additional</p>

                <h2>Admission & Finances </h2>
                <h3>Application for Admission</h3>
                <ul>
                    <li>Online Application Form is available on website. It can also be obtained from the school office.</li>
                    <li>Application for admission can be made at any time between January 01 & July 31.</li>
                    <li>Deadline for application for admission up to Class IX - July 31 and for Class XI- August 31.</li>
                    <li>Admissions in Classes X & XII are not available ; only transfer cases from the CISCE affiliated schools are entertained.</li>
                    <li></li>
                </ul> -->
                <h4>Documentation desired for Admission</h4>
                <ul>
                    <li>1. Date of Birth Certificate from Municipal Corporation/ Municipality</li>
                    <li>2. Aadhar Card</li>
                    <li>3. Transfer Certificate of Previous School (Class I onwards)</li>
                    <li>4. Mark Sheet of the Previous Class ( Class I onwards)</li>
                    <li>5. Record of Attendance of Class IX & XI (for admission in Class X & XII respectively).</li>
                    
                </ul>

                <h4>Academic Hours-</h4>
                <ul>
                    <li>For Classes I to V: 900 hours (each class)</li>
                    <li>For Classes VI to VIII: 1000 hours (each class)</li>
                    <li>For Classes IX & X: 1100 hours (each class)</li>
                    <li>For Classes XI & XII: 1200 hours (each class)</li>
                </ul>

                <h4>Three Academic Terms-</h4>
                <ul>
                    <li>First Term : April - July</li>
                    <li>Second Term : August – November</li>
                    <li>Third Term : December - March</li>
                </ul>

                <h4>Term Examinations</h4>
                <ul>
                    <li>First Term : July</li>
                    <li>Second Term : November</li>
                    <li>Third Term : March </li>
                </ul>

                <h4>ACADEMIC PROGRAMME</h4>
                <h4>Pre-primary Education</h4>
                <p>The Pre-school is meant for an Early Childhood setting where 3 to 5 years old children receive developmentally appropriate early education. The pedagogical and transactional processes/ strategies include engaging and enjoyable play activities and learning experiences that ignite children’s thinking processes and help build their confidence.</p>

                <h4>Areas of development</h4>
                <ul>
                    <li>Personal, Social & Emotional Development</li>
                    <li>Physical & Motor Development.</li>
                    <li>Cognitive Development</li>
                    <li>Language & Literacy Development</li>
                    <li>Arts & Creative Development</li>
                    <li>Technology the new emerging area – computers</li>
                    <li>Admission age :  
                        <ol>
                            <li>Play Group – 2 ½ Years</li>
                            <li>Pre-school (Nursery) – 3 Years</li>
                            <li>Prepratory-1(LKG) -4 Years</li>
                            <li>Prepratory-2 (UKG)– 5 Years</li>
                               
                        </ol>
                    </li>
                 </ul>

                <h4>Assessment of Learning</h4>
                <ul>
                    <li>Continuous Assessment summarized at the end of each Term.</li>
                    <li>Progress monitored regularly & feed back to parents.</li>
                    <li>Emphasis on reinforcement of lessons & not judgmental</li>
                    <li>No Ranks & Positions</li>
                    <li>Learning through play & activities</li>
                    <li>Promotion to next higher class automatic</li>
                </ul>
 
                <div class="primary-education">
                <h4>Primary Education</h4>
                <h4>The Lower Primary Section of the ICSE comprises of Classes I & II</h4>
                
                <h4>Academic Development Programe</h4>
                <ul>
                    <li><b>Language Development</b>- English & Second Language (Hindi)</li>
                    <li><b>Cognitive Development</b> – Mathematics & Environment Studies</li>
                    <li><b>Technological Development</b>- Computer Studies</li>
                    <li><b>Development of Aesthetic Appreciation</b>-Fine Art, Music (Vocal &Instrumental) and Dance </li>
                    <li><b>Education in Moral and Spiritual Values</b> - Value Education</li>
                    <li><b>Physical Education</b></li>
                </ul>

                <h4>Classes III- V</h4>
                <ul>
                    <li><b>Language Development</b>- English & Second Language (Hindi) & Sanskrit(from V)</li>
                    <li><b>Cognitive Development</b> – Mathematics General Science, Social Studies</li>
                    <li><b>Technological Development</b>- Computer Studies (1:1 ratio)</li>
                    <li><b>Development of Aesthetic Appreciation</b>-Fine Art, Music and Dance  </li>
                    <li><b>Education in Moral and Spiritual Values</b> -Value Education</li>
                    <li><b>Physical Education</b></li>
                </ul>

                <h4>Assessment of Learning</h4>
                <ul>
                    <li> Formal Scheduled Assessment Tests (SAT) are held at the end of each term. </li>
                    <li> Question Papers are designed ‘topic wise’. </li>
                    <li> Student’s performance is ‘Graded’</li>
                    <li> Terminal Exam- 80 marks </li>
                    <li> Project Work- 20 marks</li>
                    <li> Pass Marks- 40%</li>
                </ul>

                <h4>Classes VI - VIII</h4>
                <ul>
                    <li><b>Language Development</b>- English & Hindi (Second Language) & Sanskrit (Third Language)</li>
                    <li><b>Cognitive Development</b> –Mathematics 
                                      Science-(Physics, Chemistry & Biology)
                                         Social Studies-(History & Civics Paper 1 and Geography Paper 2) </li>
                    <li><b>Technological Development</b>- Computer Studies</li>
                    <li><b>Development of Aesthetic Appreciation</b>-Fine Art, Music and Dance   </li>
                    <li><b>Development of Skills </b></li>
                    <li><b>Physical Education & Yoga, Scouts & Guides (VI & VII) and NCC (VIII)</b></li>
                </ul>

                <h4>Assessment of Learning</h4>
                <ul>
                    <li> Formal Scheduled Assessment Tests (SAT) are held at the end of each term. </li>
                    <li> Question Papers are designed ‘topic wise’. </li>
                    <li> Student’s performance is ‘Graded’</li>
                    <li> Terminal Exam- 80 marks </li>
                    <li> Project Work- 20 marks</li>
                    <li> Pass Marks- 40%</li>
                </ul>

                
                </div>

                <h4>Classes IX-XII</h4>

                <h2>The High School Section of the ICSE comprises of Classes IX– X</h2>
                <p>The Council for the Indian School was established in 1958 by the University of Cambridge Local Examination Syndicate with assistance of the Inter-State Board for Anglo Indian Education.</p>
                <p>The Delhi Education Act, 1973, passed by Parliament, in Chapter I under Definitions Section 2(s), recognizes the Council as a body conducting public examinations.</p>
                The Council conducts three examinations viz.

                <ul>
                    <li><b>ICSE</b> (Year 10)- Indian Certificate for Secondary Education  </li>
                    <li><b>ISC</b>   ( Year 12)- Indian School Certificate </li>
                    <li><b>CVC</b> – Certificate of Vocation</li>
                </ul>

                <h4>Choice of Subjects at ICSE (YEAR 10)</h4>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                          <tr>
                            <th>GROUP 1<br> (Compulsory)</th>
                            <th>GROUP 2<br>(Optional: Two only)</th>
                            <th>GROUP 3<br> (Optional: One only)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>English</td>
                            <td>Mathematics</td>
                            <td>Computer Applications</td>
                          </tr>
                          <tr>
                            <td>Hindi</td>
                            <td>Science (Phy, Chem& Bio)</td>
                            <td>Economic Applications</td>
                          </tr>
                          <tr>
                            <td>History & Civics  and Geography</td>
                            <td>Commercial Studies</td>
                            <td>Physical Education</td>
                          </tr>

                          <tr>
                            <td>SUPW & Community Service</td>
                            <td>Economics</td>
                            <td>Home Science/ Fine Art</td>
                          </tr>

                        </tbody>
                      </table>
                </div>

                <h4>CHOICE OF SUBJECTS AT ISC (YEARS 11 & 12)</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" style="text-align: center">STREAM</th>
                            <th scope="col" style="text-align: center">COMPULSORY</th>
                            <th scope="col" style="text-align: center">ELECTIVE 1</th>
                            <th scope="col" style="text-align: center">ELECTIVE 2</th>
                            <th scope="col" style="text-align: center">ELECTIVE 3</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th style="text-align: center">SCIENCE</th>
                            <td rowspan="3" style="text-align: center;padding-top: 145px">English SUPW</td>
                            <td  style="border: none!important;padding: 0px;">
                                <table  style="width: 100%;">
                                    <tr>
                                      <td>Physics</td>
                                    </tr>
                                    <tr>
                                      <td>Chemistry</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="text-align: center;">Mathematics <br> or <br> Biology</td>
                            <td style="text-align: center;">Computer Science <br>  or <br> Bio. Technology</td>
                          </tr>
                          <tr>
                            <th scope="row" style="text-align: center">COMMERCE</th>
                            
                            <td  style="border: none!important;padding: 0px;">
                                <table  style="width: 100%;">
                                    <tr>
                                      <td>Commerce</td>
                                    </tr>
                                    <tr>
                                      <td>Economics</td>
                                    </tr>
                                    <tr>
                                      <td>Accounts</td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="2" style="text-align: center" >(Only One) <br>Business Maths. /Home Science/<br>Physical Education/ Fine Art</td>
                          </tr>
                          <tr>
                            <th scope="row" style="text-align: center">ARTS</th>
                            
                            <td  style="border: none!important;padding: 0px;">
                                <table  style="width: 100%;">
                                    <tr>
                                      <td>Economics</td>
                                    </tr>
                                    <tr>
                                      <td>History</td>
                                    </tr>
                                    <tr>
                                      <td>Sociology</td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="2" style="text-align: center" >(Only One) <br>Business Mathematics /Home <br>Science/Physical Education/Fine Art</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                <h4>PAYMENT OF SCHOOL FEES</h4>
                 <ul>
                    <li>The School Fee is charged for 12 months</li>
                    <li>It is collected in four Installments as under:<br>
                        <b>First Installment : </b>April (for April, May & June)<br>
                        <b>Second Installment : </b>July (for July, August & September)<br>
                        <b>Third Installment : </b> October (for October, November & December)<br>
                        <b>Fourth Installment : </b>January (for January, February & March)<br>
                    </li>
                    <li>Fee Bills are issued to the students quarterly in triplicate in the months of April, July, October and January every year.</li>
                    <li>Fees in case of registration for school admission, registration of students for admission from Boards other than CISCE, Board Examination or any other any other charges as NCC, Club, Competitive Exams etc or for any other specific event(s) will be charged extra.</li>
                    <li>Fee for availing school transport is also charged separately.</li>
                    <li>In case the Statement of the Fee is lost , a duplicate may be obtained from the school cashier, on payment of Rs.50/- (Fifty) only</li>
                    <li>All fees/Dues/ Fines are to be remitted by 15th of the first month of every quarter ; failing which a fine of Rs. 10/- per day will be charged and parents will be liable to pay the arrears.</li>
                    <li>Payments through cheque(s) must be in favour of the ‘ Children’s Academy’</li>
                    <li>Post dated cheques will not be accepted.</li>
                    <li>In the event the cheque deposited with the school gets bounced, the parent will be liable to pay the bank charges as per the bank’s norms.</li>
                    
                </ul>
                <h5>All dues including the arrears in respect of students appearing for the ICSE (Year 10) or ISC( Year 12) Examinations are to be cleared before January 31 of each year.</h5><br>

               
               <div class="bank-details">
                    <h1>MODE OF PAYMENT</h1>

                 <!--  <h3>1. Online <a href="https://feepal.org/school/childrens-academy" target="_blank">https://feepal.org/school/childrens-academy</a> </h3> -->
                    <h3>All Fees/arrears as per the Quarterly Statement must be remitted to the following:</h3>
                    <div class="row">
                        <div class="col-12">
                            <p class="bank-t-dls">For Bani Park Students – </p>            
                                    <p style="font-weight: bold;">ICICI BANK</p> 
                                    <p>Branch Banipark</p> 
                                    <p>A/c No. 674601701703</p>                              
                                    <p>IFSC Code ICIC0006746</p> 
                                    <p>MICR Code 302229020</p>

                                    
                        </div>
                        <!-- <div class="col-2"></div> -->
                        <!-- <div class="col-4">
                            <p class="bank-t-dls">For Nirman Nagar Students -</p>
                            
                            
                            <p style="font-weight: bold;">ICICI BANK</p>
                            <p>Branch Nirman Nagar</p>
                            <p>A/C No. 674901700674</p>
                            <p>IFSC Code ICIC0066749</p>
                            <p>MICR Code 302229054</p>
                            
                        </div> -->
                    </div>
                </div>  
                <div class="fees-dls">
                    <p>Payments through cheque(s) must be in favour of the ‘ Children’s Academy’</p>
                    <p>Post dated cheques will not be accepted.</p>
                    <p>In the event the cheque deposited with the school gets bounced, the parent will be liable to pay the bank charges as per the bank’s norms.</p>
                </div>
                <div class="default-payment">
                    <p class="default-payment-p">DEFAULT IN PAYMENT OF SCHOOL FEES</p>
                    <p>Failure to pay the School Fees by the due date will constitute an event of ‘Default’ and the parent will be liable to pay the penalty as per school norms.
                    The school reserves the right to suspend/ expel the student from the school without intimation if the default continues to the next quarter(s).</p>
                </div>
                
                
                
       </div> 
        
    </div>
</div>


