<app-login-header></app-login-header>
<div class="page-container row-fluid">
  <section class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="printer-top"></div>
    
            <div class="paper-container">
              <div class="printer-bottom"></div>
          
              <div class="paper">
                <div class="main-contents">
                  <div class="failed-icon">&#215;</div>
                    <div class="failed-title">
                      Your payment failed
                  </div>
                  <div class="failed-description">
                    Please Try again later..</div>

                  
                  <div class="order-footer"><a href="javascript:void(0)" (click)="linkRouter('/events')">Go Back</a></div>
                </div>
                <div class="jagged-edge"></div>
              </div>
            </div>
        </div>
    </div>

  </section>
</div>  





