<section class="bg-dark">
     <div class="container">
     <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
        <div class="col mb-3">
           <a href="" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
           <img src="assets/img/logo.png" style="width:150px;">
           </a>
           <p class="text-white">Lorem Ipsum is simply dummy
              text of the printing and typesetting
              industry. Lorem Ipsum has been the
              industry's standard dummy text ever
              since the 1500s
           </p>
        </div>
        <div class="col mb-3">
        </div>
        <div class="col mb-3">
           <h5 class="text-white">Company</h5>
           <ul class="nav flex-column ">
              <li class="nav-item mb-2 "><a href="javascript:void(0);" class="nav-link p-0 text-white">Home</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">Features</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">Pricing</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white ">FAQs</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">About</a></li>
           </ul>
        </div>
        <div class="col mb-3">
           <h5 class="text-white">Information</h5>
           <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">Home</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">Features</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">Pricing</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">FAQs</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white">About</a></li>
           </ul>
        </div>
        <div class="col mb-3">
           <h5 class="text-white">Contact Us</h5>
           <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white"><i class="bi bi-telephone-fill text-orange pe-2"></i>+331 70 77 70 00</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white"><i class="bi bi-envelope-fill text-orange pe-2"></i>info@example.com</a></li>
              <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-white"><i class="bi bi-geo-alt-fill text-orange pe-2"></i>Street 123Road L125 Garden Street 2 Plateaux Vallons Cocody Abidjan</a></li>
           </ul>
        </div>
        <!-- <div class="align-items-center">
           <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5" style="display: block;"><i class="bi bi-arrow-up fw-bolder"></i></a>
        <div> -->
     </footer>
     </div>
  </section>