<div class="page-container row-fluid">
  <section class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="printer-top"></div>
    
            <div class="paper-container">
              <div class="printer-bottom"></div>
          
              <div class="paper">
                <div class="main-contents">
                  <div class="failed-icon">&#215;</div>
                    <div class="failed-title">
                      Sorry, the Link has expired
                  </div>
                  <div class="failed-description" >
                    The Link was send to expire after a certain amount of time.Please contact Blaster Team </div>

                  
                  <div class="order-footer"><a href="javascript:void(0)" (click)="linkRouter('/login')">Go Back</a></div>
                </div>
                <div class="jagged-edge"></div>
              </div>
            </div>
        </div>
    </div>

  </section>
</div>  





