<app-login-header></app-login-header>
 <div class="page-container row-fluid">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <section class="px-0">
              <div class="d-flex wave-sec align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
                <img class="me-3" src="assets/img/logo.png" alt="" width="48" height="38">
                <div class="col-md-10 lh-1">
                  <h3 class="mb-0 text-white lh-1">Write Your Review</h3>
                </div>
                 <!-- <div class="col-md-2 lh-1">
                   <a (click)="backPaperView()" class="btn bg-maroon btn-sm  text-white login rounded-pill fw-medium px-3  me-2" style="text-align: right;">Back</a> 
                </div> -->
                <!-- filter -->
             </div>
            </section>

            

 
            <section class="rounded ">
               <div class="row">
                  <div class="col-lg-12 col-md-12 mx-auto  text-black p-3">
                      <div class="modal-content">
                         <div class="add_form">
                            <form class="theme-form text-black">
                                <!-- <h3 class="text-orange" >Write Your Review</h3> -->
                                <div class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" (click)="selectRating('5',$event.target.checked);"/>
                                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                                    
                                    <input type="radio" id="star4" name="rating" value="4" (click)="selectRating('4',$event.target.checked);"/>
                                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                                    
                                    <input type="radio" id="star3" name="rating" value="3" (click)="selectRating('3',$event.target.checked);"/>
                                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                                    
                                    <input type="radio" id="star2" name="rating" value="2" (click)="selectRating('2',$event.target.checked);"/>
                                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                                    
                                    <input type="radio" id="star1" name="rating" value="1" (click)="selectRating('1',$event.target.checked);"/>
                                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                                  </div>
                                <div class="form-group text-black py-3" style="width: 100%;display: block;overflow: hidden;">
                                   <label class="control-label pb-3" for="review">Your Review:</label>
                                   <textarea class="form-control text-black input-bg" rows="5" placeholder="Your Reivew" name="review" id="review"></textarea>
                                   <p  class="text-end">
                                      <span id="remaining">250</span> Characters remaining
                                   </p>
                                   <div class="mb-4  fs-5 text-center">
                                      <a href="javascript:void(0);" class="btn bg-maroon   text-white login rounded-pill fw-medium px-5 fs-5" (click)="onSubmit()">Submit</a>
                                   </div>
                                </div>
                            </form>  

                            <h2 class="text-orange mb-5">Read what others have said about us:</h2>
                              <div id="review-container" *ngIf="reviewFlag">
                                <div class="ClientReview_Card mb-2" *ngFor="let review_data of reviewData">
                                   <div class="d-flex">
                                      <div class="ClientReview_Pfp me-2">
                                         <!-- Client's Profile Picture -->
                                         <img src="{{review_data.image[0].profile_image}}" class="rounded-circle"  />
                                      </div>
                                      <div class="ClientReview_Stars d-flex align-items-center" *ngIf="review_data.star_count == 5">
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                      </div>
                                      <div class="ClientReview_Stars d-flex align-items-center" *ngIf="review_data.star_count == 4">
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         
                                      </div>

                                      <div class="ClientReview_Stars d-flex align-items-center" *ngIf="review_data.star_count == 3">
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         
                                      </div>

                                      <div class="ClientReview_Stars d-flex align-items-center" *ngIf="review_data.star_count == 2">
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                        
                                      </div>
                                      <div class="ClientReview_Stars d-flex align-items-center" *ngIf="review_data.star_count == 1">
                                         <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
                                            <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
                                         </svg>
                                         
                                      </div>
                                   </div>
                                   <div class="ClientReview_Body text-black">
                                      {{review_data.message}}
                                   </div>
                                   <div class="ClientReview_Name text-orange">
                                      — 
                                     {{review_data.username}}
                                   </div>
                                </div>
                              </div>
                              <div id="review-container" *ngIf="!reviewFlag">
                                <div class="no_review">Review  Not Post....</div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </section>

            

          </div>
        
      </div>
    </div>
</div>

