<app-login-header></app-login-header>
 <div class="page-container row-fluid">
    <div class="container-fluid">
      <div class="row"> 
          <div class="col-md-2"></div>
          <div class="col-md-10" >
              <section class="container px-0">
                <div class="d-flex wave-sec align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" >
                      <img class="me-3" src="assets/img/logo.png" alt="" width="48" height="38" />
                      
                         <div class="col-md-4 lh-1">
                            <h3 class="mb-0 text-white lh-1" >Speed Date <span *ngIf="onlineUserData">({{onlineUserData.length}})</span></h3>
                         </div>
                         <div class="col-md-6 lh-1" *ngIf="membershipFlag">
                          <a href="javascript:void(0);" class="btn noti-bg btn-outline-maroon bg-maroon text-white rounded-3 me-3" (click)="AddSpeedDate();"><i class="bi bi-plus fw-medium me-1"></i>Speed Date</a>

                         <a href="javascript:void(0)" class="btn noti-bg btn-outline-maroon bg-maroon text-white rounded-3 me-3" (click)="myData('other');"><i class="bi bi-eye fw-medium me-1"></i>View All Speed Date</a>

                         <a href="javascript:void(0)" class="btn noti-bg btn-outline-maroon bg-maroon text-white rounded-3 me-3" (click)="myData('me');"><i class="bi bi-eye fw-medium me-1"></i>View My Speed Date</a>


                         </div>
                         <div class="col-md-1 lh-1" *ngIf="membershipFlag">
                           <div class="paste-button ms-auto" >
                                <div class="dropdown">
                                  <i class="bi bi-funnel" type="button" id="multiSelectDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                  <ul
                                    class="dropdown-menu wave-sec p-2 text-white"
                                    data-bs-auto-close="outside"
                                    aria-labelledby="multiSelectDropdown"
                                    onclick="event.stopPropagation();"
                                  >
                                    <li>
                                      <label>
                                        <input class="form-check-input" type="checkbox" (click)="selectProfileType('Couple',$event.target.checked);">
                                          Couples &nbsp; <span class="dot-couple"></span>
                                      </label>
                                    </li>
                                    <li>
                                      <label>
                                        <input class="form-check-input" type="checkbox" (click)="selectProfileType('Female',$event.target.checked);">
                                         Females  &nbsp;<span class="dot-female"></span>
                                      </label>
                                    </li>
                                    <li>
                                      <label>
                                        <input class="form-check-input" type="checkbox" (click)="selectProfileType('Male',$event.target.checked);">
                                        Males &nbsp;<span class="dot-male"></span>
                                      </label>
                                    </li>
                                    <li>
                                      <label>
                                        <input class="form-check-input" type="checkbox" (click)="selectProfileType('Transgender',$event.target.checked);">
                                         Transgenders &nbsp;<span class="dot-transgender"></span>
                                      </label>
                                    </li>
                                    <li class="mt-2">
                                      <label>
                                        <input type="text" name="filter_data"  class="accent-maroon" placeholder="Search Username...." id="search_keyword" style="font-size: 13px;border-radius: 5px;padding: 5px 16px;">
                                      </label>
                                    </li>
                                    <li class="mt-2">
                                      <label>
                                        <input type="text" name="filter_data"  class="accent-maroon" placeholder="Search Location...." id="address" style="font-size: 13px;border-radius: 5px;padding: 5px 16px;" >
                                       <input type="hidden" class="input-xlarge focused" name="lat"  id="lat" value="">
                                        <input type="hidden" class="input-xlarge focused" name="lng" id="lng" value="">
                                        <input type="hidden" class="input-xlarge focused" name="city_name" id="city_name" value="">
                                      </label>
                                    </li>
                                    <li>
                                      <label>
                                        <button href="javascript:void(0);" class="btn btn-sm filter_ok_other"  (click)="onSubmitFilter()">Ok</button>
                                      </label>
                                    </li>
                                  </ul>
                                </div>
                               
                              </div>
                         </div>

                </div>
              </section>
              <div class="container px-0">
                  <div class="row" *ngIf="loaderFlag">
                    <ng-container *ngIf="onlineUserData">
                      <div class="col-md-3" *ngFor="let onlineUser of onlineUserData ; let i = index">
                    
                        <ng-container *ngIf="membershipFlag">
                          <div class="our-team">
                              <div class="picture">
                                
                                <img class="img-fluid" src="{{onlineUser.image[0].profile_image}}" (click)="showAllImage(onlineUser)" *ngIf="onlineUser.image[0].show_profile_image == '1'">

                                <img class="img-fluid" src="{{onlineUser.image[0].dummy_profile_image}}" (click)="showAllImage(onlineUser)" *ngIf="onlineUser.image[0].show_profile_image == '0'" >

                              </div>
                              <div class="team-content">
                                <a (click)="viewrecord(onlineUser.user_id,onlineUser.profile_type)" style="cursor: pointer;">
                                <h6 class="name fw-bold">{{onlineUser.username?onlineUser.username:''}}
                                  <!-- <i *ngIf="onlineUser.last_login != '0'" class="icon-font bi bi-balloon-heart-fill bg-green"></i>
                                  <i *ngIf="onlineUser.last_login == '0'" class="icon-font bi bi-balloon-heart-fill bg-grays"></i> -->
                                </h6>
                                
                                <div class="d-flex justify-content-center" style="height: 20px;">
                                   <h6 class="mx-1" *ngIf="onlineUser.show_age == '1'">Age:<span *ngIf="onlineUser.age">{{onlineUser.age?onlineUser.age:'21'}} </span> <span *ngIf="onlineUser.age2">| {{onlineUser.age2?onlineUser.age2:'21'}}</span></h6>
                                   
                                   <img src="assets/img/icon/male-female.png" class="mx-1" *ngIf="onlineUser.couple_male_female_swingers == '1'">

                                    <img src="assets/img/icon/female-female.png" class="mx-1" *ngIf="onlineUser.couple_female_female_swingers == '1'">

                                    <img src="assets/img/icon/male-male.png" class="mx-1" *ngIf="onlineUser.couple_male_male_swingers == '1'">

                                    <img src="assets/img/icon/male.png" class="mx-1" *ngIf="onlineUser.couple_male_swingers == '1'">

                                    <img src="assets/img/icon/female.png" class="mx-1" *ngIf="onlineUser.couple_female_swingers == '1'">

                                    <img src="assets/img/icon/transgender.png" class="mx-1" *ngIf="onlineUser.couple_transgender_swingers == '1'">


                                  
                                </div>
                                <h6 class="my-1" *ngIf="onlineUser.show_gender == '1'">{{onlineUser.gender_profile_type?onlineUser.gender_profile_type:''}}</h6>
                                <i class="bi bi-geo-alt-fill title" *ngIf="onlineUser.show_location == '1'">{{onlineUser.formatted_address?onlineUser.formatted_address:''}} </i>
                              </a> 
                             

                              </div>
                                    <div href="javascript:void(0)"  class="text-black text-decoration-none" style="font-size: 14px;" *ngIf="onlineUser.type == 'public'">Public Place
                                      <a href="javascript:void();" *ngIf="bodydata['user_type'] == 'me'" (click)="deleteSpeedDate(onlineUser.id)"><i class="bi bi-trash3-fill ms-5"></i></a>

                                    </div>

                                    <div href="javascript:void(0)"  class="text-black text-decoration-none" style="font-size: 14px;" *ngIf="onlineUser.type == 'private'">Private Place
                                      <a href="javascript:void();" *ngIf="bodydata['user_type'] == 'me'" (click)="deleteSpeedDate(onlineUser.id)"><i class="bi bi-trash3-fill ms-5"></i></a>

                                    </div>

                                    <div href="javascript:void(0)"  class="text-black text-decoration-none" style="font-size: 14px;" *ngIf="onlineUser.type == 'virtual'">Virtual Date
                                      <a href="javascript:void();" *ngIf="bodydata['user_type'] == 'me'" (click)="deleteSpeedDate(onlineUser.id)"><i class="bi bi-trash3-fill ms-5"></i></a>

                                    </div>

                                    <div href="javascript:void(0)"  class="text-black text-decoration-none speed_date_dated" >
                                      <span *ngFor="let select_date of onlineUser.select_date?.split(','); let last = last">
                                         {{select_date | date:'mediumDate'}}<span *ngIf="!last"> - </span>
                                      </span> <span *ngIf="onlineUser.start_time_hours"> - {{onlineUser.start_time_hours}}:{{onlineUser.start_time_minuts}}</span>

                                    </div>



                                   <!--  <div class="row">
                                      <div class="col-md-3"><a class="text-black" style="font-size: 14px;">With</a></div>
                                      <div class="col-md-9" style="text-align: right;">
                                          <img src="assets/img/icon/male-female.png" class="img-fluid wh-20 me-2" *ngIf="onlineUser.couple_male_female_swingers == '1'">

                                          <img src="assets/img/icon/female-female.png" class="img-fluid wh-20 me-2" *ngIf="onlineUser.couple_female_female_swingers == '1'">

                                          <img src="assets/img/icon/male-male.png" class="img-fluid wh-20 me-2" *ngIf="onlineUser.couple_male_male_swingers == '1'">

                                          <img src="assets/img/icon/male.png" class="img-fluid wh-20 me-2" *ngIf="onlineUser.couple_male_swingers == '1'">

                                          <img src="assets/img/icon/female.png" class="img-fluid wh-20 me-2" *ngIf="onlineUser.couple_female_swingers == '1'">

                                          <img src="assets/img/icon/transgender.png" class="img-fluid wh-20 me-2" *ngIf="onlineUser.couple_transgender_swingers == '1'">
                                      </div>
                                    </div> -->

                               <ul class="social icon-color pt-2">
                                <div href="javascript:void(0)" (click)="showMore(onlineUser);" class="py-2 px-3 text-black text-decoration-none" style="font-size: 14px;color: #fff !important;    overflow: hidden;text-overflow: ellipsis;word-wrap: normal;text-align: center;white-space: nowrap;cursor: pointer;">{{onlineUser.details}}
                                </div>
                              </ul>
                             
                          </div>
                        </ng-container>

                        <ng-container *ngIf="!membershipFlag">
                         
                          <div class="our-teams"> 
                            <div class="card1 mx-auto my-2" (click)="viewMembershipInfo()">
                              <img class="premium" src="assets/img/lock.png" alt="">
                            </div>
                          </div>

                          
                        </ng-container>

                       
                        
                        
                      </div>
                    </ng-container> 
                    <ng-container>
                      <div class="col-lg-12" *ngIf="!onlineUserData">
                        <div class="no_record">No Record Found!....</div>
                      </div>
                    </ng-container> 
                  </div> 

                   <div class="row" *ngIf="!loaderFlag">
                    <div class="col-lg-12">
                      <div class="page_loader">
                        <div class="line one"></div>
                        <div class="line two"></div>
                        <div class="line three"></div>
                        <div class="line four"></div>
                        <div class="line five"></div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        
      </div>
    </div>
</div>








<div class="modal fade" id="membershipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
       
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Blastergate Team!</h4>
          <p>"You have not purchased a Blastergate membership plan. Buy membership"</p>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-success" (click)="linkRouter('/membership')" >Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="showMoreModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm" >
    <div class="modal-content">
      <div class="modal-body bg-white" *ngIf="singleDetails">
         <h5 class="text-black text-center">Details</h5>
         <div class="text-black info-contain text-center">
           {{singleDetails.details}}
         </div>  
      </div>
    </div>
  </div>
</div>